{% extends "menu.html" %}
{% block title %}Новости{% endblock title %}
{% block header %}Новости{% endblock header %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <label>Сортировка:</label>
    <select name="sort">
        <option value="date_new">Дата (от новых к старым)</option>
        <option value="date_old">Дата (от старых к новым)</option>
    </select>
    <button type="submit">Применить</button>
</form>
{% if articles %}
    {% for article in articles %}
    <article itemscope itemtype="http://schema.org/Article">
        <h2 itemprop="name headline">{{ article.title }}</h2>
        {% if article.img_url %}
            <img src="{{ article.img_url }}" width="150" height="150" alt="картинка статьи" itemprop="image">
        {% endif %}
        <time itemprop="datePublished" datetime="{{ article.created_at|date:'c' }}">{{ article.created_at|date:'d.m.Y' }}</time>
        <p itemprop="description">{{ article.summary|default:article.text|truncatechars:160 }}</p>
        <meta itemprop="url" content="{% url 'news_detail' article.id %}">
        <p><a href="{% url 'news_detail' article.id %}" itemprop="mainEntityOfPage">Читать далее</a></p>
    </article>
    {% endfor%}
{% else %}
<p>Нет доступных новостей.</p>
{% endif %}
{% endblock content %}